body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  color: black;
  background-color: yellow;
}

.container {
  width: 70%;
 
  margin: 80px auto;
  padding: 20px;
  background-color: #232323;
  border-radius: 10px;
  box-shadow: 0 0 3px 0px rgba(0,0.8,0,0);
}

h2 {
  text-align: center;
  color: yellow;
}

input[type="text"],
input[type="password"] {
  width: 90%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid yellow;
  border-radius: 5px;
  background-color: #232323;
  color: yellow;
}

input[type="submit"] {
  width: 60%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: yellow;
  color: black;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: goldenrod;
}
